<ul>
    <li>
        <a href="{{ path('morus_core_locale_switch', {'locale': 'en_US'}) }}">
            En
        </a>
    </li>
    <li>
        <a href="{{ path('morus_core_locale_switch', {'locale': 'zh_HK'}) }}">
            繁
        </a>
    </li>
    <li>
        <a href="{{ path('morus_core_locale_switch', {'locale': 'zh_CN'}) }}">
            简
        </a>
    </li>
</ul>


